.contact-checkbox-container {
  display: flex;
  gap: 6px;
  align-items: baseline;
}

.cursor-pointer {
  cursor: pointer;
}

input:checked {
  accent-color: #F6430F;
}

.tech-label:hover {
  color: #F6430F;
  font-weight: 500;
}